body{

    background-color: whitesmoke;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    font-size: large;
    margin: 30px;
    padding: auto;
    font-family: sans-serif;
    width: 700px;
    margin-left: 320px;
    


}
*{
    box-sizing: border-box;
padding: 0%;
}

h2{
    background-color: rgb(189, 189, 250);
    
}

.quiz2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.submit{
    padding-top: 0px;
    padding-right: 450px;
    font-size: x-large;
    padding-bottom: 10px;
    
    
}
#btn{
    background-color: rgb(8, 180, 8);
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    color: white;
}
#submitboard{
      overflow: hidden;
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    font-size: large;
    margin: 0px;
    padding: auto;
    font-family: sans-serif;
    width: 700px;
    height: 60px;
    font-size: x-large;
    font-weight: bold;
}
