body{
    overflow: hidden;
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    font-size: large;
    margin: 50px;
    padding: auto;
    overflow: hidden;
    font-family: sans-serif;


}
*{
    box-sizing: border-box;
padding: 0%;
}

h2{
    background-color: rgb(189, 189, 250);
    
}

.quiz2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.submit{
    padding-top: 40px;
    padding-right: 600px;
    font-size: x-large;
    
    
}
#btn{
    background-color: rgb(8, 180, 8);
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    color: white;
}
/*#submitboard{
    text-align: center;
    font-size: large;
    text-align: center;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: large;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 50px;
    font-weight: bold;
    font-family:'poppin' sans-serif;
    overflow: hidden;
    height: 70px;
    width: 600px;
}
